.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.text {
    flex-grow: 1;
    color: #005254;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-green);
    transition: background-color .2s linear, color .2s linear;
    background-color: var(--main-green);
    color: var(--mint);
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1), inset -2px 2px 5px 0 rgba(255, 255, 255, 0.2), inset 2px -2px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color:  var(--mint);
    color: var(--main-green);
}

.btn:active {
    background-color: #bdbdbd;
}

.checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}