:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-green: #02bcbf;
  --mint: #7cfffb;
}

section {
  padding: 10px 5px;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, var(--main-green), var(--mint));
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}